{% extends "base.html" %}
       
{% block body %}
<div class="jumbotron">
    <div class="container thumbs">
    <div call="container">

    <div class="row" style="padding-top: 5%;">
        <h1 style="text-align: center">Registracija</h1><br>
    </div>
    </div>
    <div class="row" style="margin-left: 25%;">
        
        <form action="register" method="POST">

      <div class="col-sm-8">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Ime" required>
        </div>
      </div>
      <div class="col-sm-8">
          <div class="form-group">
              <input type="text" name="surname" class="form-control" placeholder="Prezime" required>
            </div>
          
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="E-mail" required>
            </div>
          </div>
          <div class="col-sm-8">
              <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="Lozinka" required>
              </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <input type="text" name="contact" class="form-control" placeholder="Kontakt" required>
                </div>
              </div>
              <div class="col-sm-8">
                  <div class="form-group">
                      <input type="text" name="address" class="form-control" placeholder="Adresa" required>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <input type="submit" name="confirm" class="form-control" value="Potvrdi">
                    </div>
                </div>
          </form>
    </div>
  </div>
</div>
</div>
 

 </div>

 <div class="container thumbs">

  
   </div>



 {% endblock %}